my-app-vite-tailwind-working_CLI_-backup.node_modules/
videos/*
!videos/.gitkeep
**/target/
**/build/
**/videos/

# Java
target/
*.jar
*.log

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/

# OS
.DS_Store
