my-app-vite-tailwind-working_CLI_-backup.node_modules/
videos/*
!videos/.gitkeep
**/target/
**/build/
**/videos/
**/node_modules/
# Java
target/
*.jar
*.log
hsl-videos/**
# Node
node_modules/
videos/
dist/
.vite/

# IDE
.idea/
.vscode/

# OS
.DS_Store
